.header{
    height: 40vw;
    margin: 30px auto;
    background-size: cover;
    position: relative;
    background-position: center;

}

.header_vid video{
    width: 100%;
    height: 40vw;
    object-fit: cover;
    filter: brightness(60%);
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s ease-in-out;
}

.header-contents h2{
    font-weight: 500;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.5);
    font-size: max(4.5vw , 22px);
    text-shadow: 2px 2px 8px #000;
}

.header-contents p{
    color: whitesmoke;
    font-size: 1.5vw;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 8px #000;
}

.header-contents button{
    border: none;
    color: #414c72;
    font-weight: 500;
    padding: 1vh 13px;
    background-color: whitesmoke;
    font-size: max(1vw, 15px);
    border-radius: 50px;
}

@media (max-width: 1050px) {
    
    .header-contents{
        max-width: 45%;
    }
    
}


@media (max-width: 750px) {
    
    .header-contents{
        max-width: 65%;
    }

    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
    
}