.footer{
    color: whitesmoke;
    background-color: rgb(84, 83, 83);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-right: -1%;
    margin-top: 100px;
    
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}


.footer-my-logo h2{
    color: tomato;
    display: flex;
    align-items: center;
    gap: 10px;
}


.my-logo{
    width: 10%;
    height: auto;
}

.footer-content-left , .footer-content-right, .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li , .footer-content-right li, .footer-content-center li{
   list-style: none;
   margin-bottom: none;
   cursor: pointer;
}
 .footer-content-right h2, .footer-content-center h2{
   color: white;
}

.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
    cursor: pointer;
    
}

.footer-social-icons img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color: #000;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    margin: none;
}

@media (max-width: 750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .footer-copyright{
        text-align: center;
    }
    
}