.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(119, 122, 123);
    display: grid;
}

.login-popup-container{
    place-self: center;
    width: max(23vw, 330px);
    color: grey;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 10px 10px 10px orangered;
    animation: fadeIn 1s ease-in-out;
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img{
    width: 16px;
    cursor: pointer;
}

.login-popup-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input{
    outline: none;
    border: 1px solid orangered;
    padding: 10px;
    border-radius: 4px;
}

.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: orangered;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input{
     margin-top: 5px;
     cursor: pointer;
}

.login-popup p span{
    color: orangered;
    font-weight: 500;
    cursor: pointer;
}